block versions


div(id="FormVersion", style="display: none; width: 450px")
    div.menu.fadeNucleo#DivVersion(style='position:relative;display:yes')
        h3(tkey='Version')
        table(style='table-layout:fixed')
            tr
                td#tdVersion(style='vertical-align:top;width: 450px')
                    #AddFormVersion.content(style='width:auto;padding:5px;display:none')
                        table
                            tr
                                td.New Información de Versiones
                            tr
                                td.New Fichero
                                td.New Path
                                td.New Tamaño
                                td.New MD5
                            tr
                                td(style='vertical-align:top;width:535px')
                                    ul#listVersions

