block versions

    - var droids = ["R2D2", "C3PO", "BB8"];

div(id="FormVersion", style="display: none; width: 450px")
    div.menu.fadeNucleo#DivVersion(style='position:relative;display:yes')
        h3(tkey='Version')
        table(style='table-layout:fixed')
            tr(style="height: 20px")
                td(style="width: 50%;padding:10px 5px")
                    label(tkey='IdVersion')
                td.New
                    label#IdVersion(style='color:black')
            tr(style="height: 20px")
                td(style="width: 50%;padding:10px 5px")
                    label(tkey='Subversion')
                td.New
                    label#IdSubVersion(style='color:black')
            tr(style="height: 20px")
                td(style="width: 50%;padding:10px 5px")
                    label(tkey='VersGenDate')
                td.New
                    label#IdVersionDate(style='color:black')
        #listVersions

