block versions


div(id="FormVersion", style="display: none; width: 350px")
    div.menu.fadeNucleo#DivVersion(style='position:relative;display:yes')
        h3(tkey='Version')
        table(style='table-layout:fixed')
            tr
                td#tdVersion(style='vertical-align:top;width: 175px')
                    #AddFormVersion.content(style='width:auto;padding:5px;display:none')
                        table
                            tr
                                td.New Información de Versiones


